/* 全体の設定 */
body {
    font-family: 'Lora', serif;
    background-color: #E2E1CB; /* 目に優しい白 */
    color: black;
    margin: 0;
    padding: 0;
}

/* ナビゲーション */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Home */
.hero {
    background: url('images/green.jpg') no-repeat center center / cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.hero h1, .hero h2 {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: #FFF8DC;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7)
}

/* Worksページ */
.works {
    padding: 50px 20px;
}

.works-title {
    font-size: 2rem;
    text-align: right;
    margin-right: 50px;
}

.work-card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.work-left, .work-right {
    width: 45%;
}

/* Aboutページ */
#about {
    position: relative;
    padding: 50px;
}

.about-bg {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 300px;
    color: rgba(0, 0, 0, 0.1);
    transform: rotate(-10deg);
}

.about-content {
    position: relative;
    z-index: 10;
}

.about-content h2 {
    color: #065D29;
}

